.UsersContainer{
    padding: 60px;
    flex: 1;
    
    @media(max-width: 1000px) {
        padding: 30px;
    }

    .title {
        font-size: 24px;
        font-weight: 600;
        color: #213F7D;
    }


}